/* * common css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.container{
    width: 1170px;
    margin: auto;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-center{
    align-items: center;
}

.button{
    display: inline-block;
    padding: 19px 42px;
    background-color: #cfc91d;
    font-weight: 800;
    font-size: 14px;
    color: #0b1016;
}

.heading{
    text-align: center;
    
}
.heading h2{
    font-weight: 800;
    font-size: 46px;
    color:#02918c ;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.heading span{
    font-size: 16px;
    color: #0b1016;
}


/* * common css */
/* navbar starts here */
nav{
    background:#02918c ;
}
nav .logo{
     width: 40%;
     align-self: center;
     
}
nav .menu{
    width: 60%;
    text-align: right;
}

nav .menu ul li{
    display: inline-block;
}


nav .menu ul li a{

    color: white;
    font-weight: 800;
    font-size: 12px;
    text-transform: uppercase;
    padding: 26px 25px;
    display: block;

}

/* navbae ends here */

/* * banner starts */
#Banner{
    background-image: url(../images/banner.jpg);
    height: 728px;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(0,0,0, 0.34);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
}

#banner .container,
#banner .row{
    height: 100%;
}



.banner-cnt{
    text-align: center;
    color: white;
    width: 100%;
}

.banner-cnt h4{
    font-weight: 400;
    font-size: 30px;
}

.banner-cnt h1{
    font-weight: 800;
    font-size: 68px;
    text-transform: uppercase;
    letter-spacing: 30px;
}

.banner-cnt p{
    font-weight: 400;
    font-size: 18px;
}

.banner-cnt img{
    margin: 50px 0;
    display: block;
    margin: 50px auto;
}

/* About starts here */
#about{
    padding: 98px 0;
}

.pera{
    padding-top: 45px;
    text-align:center ;
    line-height: normal;
    
}

.pera span{
    font-weight: 800;
    font-size: 20px;
    
}

.about-card{
    width: 25%;
    margin-top: 80px;
    text-align: center;
    border-right: 1px solid #d9dbdb;
    padding: 40px 0;
}

.about-card span{
    color: #02918c;
    font-size: 30px;
}

.about-card h4{
    font-size: 16px;
    font-weight: 800;
    color: #0b1016;
    margin: 20px 0;
}

.about-card p{
    font-size: 11px;
    color: #7e8287;
    padding: 0 50px;
    
}
.about-card:last-child{
    border: none;
}
/* About ends here */

/* services starts here */

.services{
    padding: 78px 0;
}

.pera{
    padding: 45px;
    text-align: left;
    padding-right: 0 20px;
}


.services{
    background-image: url(../images/picture.png);
    height: 728px;
    background-repeat: no-repeat;
    background-size: cover;
    

}

.services-container{
    width:50%;
    
}



.services-card{
    width: 50%;
    margin-top: 80px;
    text-align: left;
    flex-wrap: wrap;

}

.services-card span{
    color: #02918c;
    font-size: 30px;
}


.services-card h4{
    font-size: 15px;
    font-weight: 800;
    color: #0b1016;
    margin: 20px 0;
}

.services-card{
    font-size: 11px;
    color: #7e8287;
    padding:0 80px;
}
.row-services{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    

}
.s-heading{
    text-align: left;
    padding-left: 80px;
    color: #02918c;
}

.s-pera{
    text-align: left;
}




/* services ends here */

/*  My Work starts here */

.my-work{
    padding: 112px 0;
}

.my-work p{

    text-align: center;

    font-size: 20px;
    color: #7e8287;
    line-height: normal;

    
}

.image img{
    width: 25%;;

}



/* My Work ends here */

